*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: #f6fbf7;
}
.header-container{
    display: flex;
    height: 110px;
    width: auto;
    box-sizing: border-box;
    text-align: center;
    margin: 1%;
    text-shadow: #0f0f0f 1px 1px 1px;
}
.border-class{
    border: 2px transparent;
    border-radius: 7px;
}
.header-main{
    box-sizing: border-box;
    text-align: center;
    font-family: "Tilt Neon", cursive;
    width: 40%;
    height:  80px;
}
.header-title{
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: #0f0f0f 3px 2px 2px;
}
.header-subtitle{
    font-size: 16px;
    text-shadow: #0f0f0f 1px 1px 1px;
}
.header-font-color{
    color: #e44023;
}

.header-contact{
    width: 30%;
    background-color: #229a07;
    color: #fefef0;
    text-align: center;
    /*float: left;*/
    padding: 1%;
    height: auto;

}
.header-img{
    width: 30%;
    height: auto;
    background-color: #f11a1a;
}

.img-title{
    width: 30%;
    height: auto;
}
.img-link{
    width: 25px;
    height: auto;
}
.img-linkX{
    width: 25px;
    height: auto;
}

.main-container{
    margin: 2%;
    color: #010101;
    background-color: #faf8ff;
}

#size-flavour{
    font-size: 35px;
    font-weight: bold;
}
.footer-container{
    height: 75px;
    margin: 2%;
    background-color: #229a07;
    text-align: center;
    color: #fefef0;
}
footer h3{
    padding: 1.5% 1% 1% 1%;
    text-shadow: #0f0f0f 1px 1px 1px;
}


.main-border{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

.main-border-obs{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

.textarea-border{
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    padding: 2px;
}